.layout-body {
  display: flex;
  transition: margin-left 0.3s ease;
}

.sidebar-container {
  width: 240px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.page-content {
  flex-grow: 1;
  padding: 24px;
  transition: margin-left 0.3s ease;
}

/* 사이드바가 열렸을 때 */
.with-sidebar .page-content {
  margin-left: 240px;
}
